@import "mocha.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @surface0;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
}

window#waybar.chromium {
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
  padding: 0 5px;
  color: @peach;
  margin: 2px;
  font-weight: bold;
}

#workspaces button.active {
  background-color: @peach;
  color: @base;
}
#workspaces button:hover {
  background-color: @peach;
  color: @base;
}
#workspaces button.active:hover {
  color: @peach;
}
#workspaces button.hidden {
  color: @pink;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#keyboard-state,
#mpd,
#backlight {
  padding: 0 8px;
  color: @peach;
  font-weight: bold;
}

#network {
  color: @sky;
}

#backlight {
  color: @green;
}

#memory {
  color: @yellow;
}

#custom-power {
  color: @red;
  font-weight: bold;
  padding: 0 15px;
  margin: 0 5px;
}

#user,
#window,
#workspaces,
#custom-updates,
#custom-media {
  margin: 0 4px;
  background-color: transparent;
  font-weight: bold;
  padding: 0 10px;
  color: @peach;
}

#user,
#window,
#custom-updates {
}

#user {
  color: @green;
}

#user.1 {
  margin-right: 0;
  padding-right: 5px;
}

#custom-updates {
  margin-left: 0;
  padding-left: 5px;
  color: @sky;
}

#custom-media {
  min-width: 100px;
  color: @mauve;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: @sky;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  padding-right: 0;
  color: @pink;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#temperature {
  color: @green;
}

#keyboard-state {
  padding: 0 0px;
  min-width: 16px;
  color: @mauve;
}

#keyboard-state > label {
  padding: 0 5px;
}

#tray {
  padding: 0 10px;
  margin: 0 5px;
}

#tray.empty {
  background-color: transparent;
}
